.contact-form-title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form-input {
  margin-right: 10px;
  margin-bottom: 20px;
  width: 696px;
}

.form-input {
  margin-bottom: 10px;
  padding: 18px 0 18px 20px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.input-active {
  margin-right: 6px;
}

.form-input-width {
  width: 343px;
}

.form-input-active {
  width: 696px;
}

.form-input-textarea {
  padding: 18px 0 0 20px;
  resize: vertical;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-content {
  margin-bottom: 20px;
  width: 494px;
}

.form-contact-list {
  padding: 40px 0 40px 25px;
  background: #f6f6f6;
  border-radius: 10px;
}

.form-contact-item {
  list-style: none;
  border-bottom: 1px solid #d2d2d2;
}

.form-contact-item-active {
  border-bottom: none;
}

.form-contact-subtitle {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.subtitle-active {
  margin-top: 20px;
}

.form-contact-text {
  margin-bottom: 20px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.form-contact-btn {
  margin: 0 auto;
  margin-bottom: 100px;
}

.contact-btn {
  padding: 17px 30px;
  border: none;
  background: #7297ef;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
